<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dexloop.flutter_alarm_notification">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:theme = "@android:style/Theme.NoTitleBar">

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.dexloop.fullscreen" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity

            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

    </application>
</manifest>
